@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,500;0,700;1,500;1,600;1,700&family=Manrope:wght@400;500;600&family=Poppins:ital,wght@0,200;1,300;1,400;1,500;1,600&display=swap');
*{
    font-family: 'Times New Roman', Times, serif;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'poppins',sans-serif;
    font-weight: 500;
}
body{
    background-color: black;
}
.navbar{
    position: absolute;
    z-index: 2;
    width: 100%;
}
.nav-link{
    color: white;
    font-size: 1.1rem;
    
}
.nav-item{
	padding-right: 20px;
}

.nav-link:hover{
    color: yellow;
}

.btn{
	padding: 3px 15px;
	
}
.btn:hover{
    
    background-color: white;
    color: yellow;
    font-weight: 600;

}

@media screen and (max-width: 576px) {
    .ultimate{
        font: size 10px;;

    }
    
  }

.bg-video{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.bg-video video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.main-heading{
    position: relative;
}

.main-heading h2{
    font-weight: bold;
    
}
.main-heading p{
    font-size: 18px;
    letter-spacing: 2px;
}

.main-heading a{
    padding: 5px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
}

.main-heading a:hover{
    color: black;
    background-color: black;
    font-weight: 600;
}


#about{
    background-color: black;
    width: 100%;
}

                    #services{
                        height: 100vh;
                        width: 100%;
                        background-color: black;
                    }

                    .font-weight-bold{
                        font-weight: bold;

                    }

                    .img-1{
                        background-color: white;
                        margin: 8px;
                        padding: 32px 24px;
                        border-radius: 7px;
                    }

                    @media screen and (max-width: 576px) {
                        .team{
                            padding-top: 30px; 
                        }
                     
                    }
    
                    @media screen and (max-width: 576px) {
                        #services{
                            margin-bottom: 45rem; 
                            padding-top: 30px; 
                    
                        }

                        .section-4-img{
                            width: 250px;
                        }

                      
                    }

                    .text-custom{
                        color: yellow !important;
                        }
                
                #teams{
                    height: 100vh;
                    width: 100%;
                    background-color: white;
                }

                    
                    .text-4 h3{
                        color:black ;
                        letter-spacing: 1px;
                        font-weight: 900;
                        font-size: 30px;
                        }
                        .text-4 p{
                            color:black ;
                            letter-spacing: 1px;
                            font-weight: 800;
                            font-size: 16px;
                            
                            }

                            .icons a{
                                text-decoration: none;
                            }

                            .footer-text h5{
                                font-size: 16px;
                                font-weight: bold;
                            }

                          #footer{
                            height: 80vh;
                            width: 100%;
                           
                          }
                          .pic .card{
                            border-radius: .7rem;
                          }

img{ width:100%; height: 100%;}

.gallery_box li{ float: left; width:33.333333%; max-width: 100% ; display:inline-block; text-align: center; overflow: hidden;    position: relative;}
.gallery_box{ padding:0;display: flow-root; margin-top: 5px;}

.gallery_box li:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.gallery_box li img{-webkit-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;}
.gallery_box li:nth-child(even) {
    height: 240px;
}
.gallery_box li:nth-child(odd) {
    height: 375px; 
}
.gallery_box li:nth-child(odd) .box_data{ background:rgba(0,0,0,0.17) }
.gallery_box li:nth-child(even) .box_data{ background:rgba(0,44,255,0.27) }
.gallery_box .box_data{ position:absolute; top: 0; left: 0; right:0; bottom:0; color:#fff;}
.gallery_box .box_data span{ position:absolute; top: 50%; transform: translateY(-50%); left:0 ; right:0; font-size:24px;}


.service-12 {
  font-family: "Montserrat", sans-serif;
	color: #8d97ad;
  font-weight: 300;
}


.service-12 h6 {
		line-height: 22px;
        font-size: 18px;
}

.service-12 .font-weight-medium {
	font-weight: 500;
}

.service-12 .badge {
	line-height: 14px;
}

.service-12 .badge-info {
	background: #188ef4;
}

.service-12 .subtitle {
    color: #8d97ad;
    line-height: 24px;
}

.service-12 .card.card-shadow {
    -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
    box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}

.service-12 .img-shadow {
    -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.3);
    box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.3);
}

.service-12 .wrap-service12 .img-hover {
	-webkit-transition: 0.2s ease-in;
   -o-transition: 0.2s ease-in;
   transition: 0.2s ease-in;
}

.service-12 .wrap-service12 .img-hover:hover {
	-webkit-transform: scale(1.1);
   -ms-transform: scale(1.1);
   transform: scale(1.1);
}

@media (max-width: 767px) {
		.service-12 .wrap-service-12 .uneven-box {
			margin-top: 0px;
	}
}

.user-content p{
    margin-top:5px;
    font-size:12px;
}


.team4 {
    font-family: "Montserrat", sans-serif;
      color: #8d97ad;
    font-weight: 300;
  }
  
  .team4 h1, .team4 h2, .team4 h3, .team4 h4, .team4 h5, .team4 h6 {
    color: #3e4555;
  }
  
  .team4 .font-weight-medium {
      font-weight: 500;
  }
  
  .team4 h5 {
      line-height: 22px;
      font-size: 18px;
  }
  
  .team4 .subtitle {
      color: #8d97ad;
      line-height: 24px;
          font-size: 13px;
  }
  
  .team4 ul li a {
    color: #8d97ad;
    padding-right: 15px;
    -webkit-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
  }
  
  .team4 ul li a:hover {
    -webkit-transform: translate3d(0px, -5px, 0px);
    transform: translate3d(0px, -5px, 0px);
      color: yellow;
  }

  .submit-button:hover{
background-color: black;
color: white;
  }

  .navbar-toggler{
    border: 0;
  }
  .navbar-toggler:focus,
  .navbar-toggler:actuve,
  .navbar-toggler-icon:focus{
    outline: none;
    box-shadow: none;
    border: 0;
  }
.toggler-icon{
    width: 30px;
    height: 3px;
    background-color: yellow;
    display: block;
    transition: all 0.2s;

}
.middle-bar{
    margin: 5px auto;
}

.navbar-toggler .top-bar{
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}
.navbar-toggler .middle-bar{
   opacity: 0;
   filter: alpha(opacity=0);
}
.navbar-toggler .bottom-bar{
    transform: rotate(-45deg);
    transform-origin: 10% 10%;
}
.navbar-toggler.collapsed .top-bar{
    transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar{
    opacity: 1;
    filter: alpha(opacity=100);

}
.navbar-toggler.collapsed .bottom-bar{
    transform: rotate(0);
}

.navbar-toggler.collapsed .toggler-icon{
   background-color: white;
}

.ic1:hover{
    -webkit-transform: translate3d(0px, -5px, 0px);
    transform: translate3d(0px, -5px, 0px);
      color: yellow;
    
}
  
  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 5px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
  background-color: #ffffff00;
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  .whatsapp-picture{
    height: 70px;
    width: 70px;
  }








  